@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: #f9fafc !important;
  color: #212121 !important;
  user-select: none;
}

svg,
img {
  max-width: 100%;
}

#nprogress .spinner {
  opacity: 0;
}
.css-10nc41m{
  display: none;
}